<!DOCTYPE HTML>
<html>
  <head>
    <title>Portfolio Website</title>
  </head>
  <body>
    </header id="main_navigation" class="clearfix">
  <a href="#" class="name">Niels Ettema</a>
    </header>
  <a href="#" class="name">Projects</a>
  <a href="#" class="name">Contact</a>
   </body>
</html>
